* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

input {
   display: block;
   width: 400px;
   height: 50px;
   /* margin: 0 auto; */
   padding: 10px;
   font-size: 20px;
   border-radius: 10px;
}

input::placeholder {
   font-size: 20px;
}

button {
   width: 200px;
   height: 50px;
   font-size: 20px;
   display: block;
   cursor: pointer;
   margin: 20px auto;
}

.box {
   display: flex;
   border: 2px solid #ccc;
   justify-content: center;
   align-items: flex-end;
   padding: 20px;
   width: 80%;
   margin: 0 auto;
   height: 80%;
   border-radius: 20px;
   position: relative;
}

h2 {
   border: 2px solid #000;
   text-align: center;
   width: 400px;
   height: 50px;
   border-radius: 10px;
   align-items: center;
   display: flex;
   align-items: center;
   padding: 10px;
}

h3 {
   text-align: center;
}

.box_input {
   display: flex;
   flex-direction: column;
   align-items: center;
}

label {
   font-size: 20px;
   font-weight: bold;
}

h1,
h2 {
   text-align: center;
   margin: 10px;
}

.box_ichida {
   width: 100%;
   justify-content: space-between;
   padding: 0 50px;
   display: flex;
   /* border: 3px solid red; */
   position: absolute;
   bottom: 100px;

}

.box_ichida>img {
   width: 150px;
   height: auto;
   margin: 20px;
   border-radius: 8px;
}

.card {
   width: 300px;
   height: auto;
   margin: 20px;
   border-radius: 8px;
   position: absolute;
   top: 20px;
   left: 35%;
}